@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Color="Color.Success"
               Class="mb-5">
        <MudGrid Class="p-3">

            <MudItem xs="2" Class="d-flex justify-start align-center">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Default" Edge="Edge.Start" Size="@Size.Large" OnClick="@((e) => DrawerToggle())" />
            </MudItem>

            <MudItem xs="8">
                <MudPaper Class="d-flex flex-column justify-center mud-width-full py-8 mud-paper-nav-app">
                    <h3>My Application</h3>
                </MudPaper>

            </MudItem>

            <MudItem xs="2">
                <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-8 mud-paper-nav-app">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="me-3">Primary</MudButton>
                </MudPaper>
            </MudItem>

        </MudGrid>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <div class="p-5">
            @Body
        </div>
    </MudMainContent>

</MudLayout>


@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}